.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  background-color:aliceblue
}

.flex-card{
  padding: 10px;
  margin: 40px 15px 40px 15px;
  height: 200px;
  color:white;
  perspective: 800px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 30px;
  justify-content: center;
}

.front {
   background-color:blueviolet;
  transform: rotateY(0deg); 
  transition: transform 0.5s ease;
  
}

.back {
  background-color: blue; 
  transform: rotateY(180deg); 
  transition: transform 0.5s ease; 

}

.flex-card.flipped .front {
  transform: rotateY(-180deg);
}

.flex-card.flipped .back {
  transform: rotateY(0deg);
}



